<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ExamGPT</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>

  <body>
    <div class="body-width">
      <div class="welcome-section">
        <h1 style="text-align: center;">ExamGPT</h1>
        <b>
          ExamGPT is an intelligent chatbot designed to generate exam questions and provide assistance to 
          students by helping them solve complex problems, tailored to their learning needs and subject areas.
        </b>
      </div>
      <div id="login-container" class="login-container">
        <form>
            <label for="email">Email:</label><br>
            <input type="text" class="login-input" name="email"><br>
            <label for="password">Password:</label><br>
            <input type="password" class="login-input" name="password"><br><br>
            <input type="submit" class="login-buttons" value="Login">
        </form>
        <a href="/register" class="button-link">Don't have an account? Sign up now</a>
      </div>
    </div>
  </body>
</html>
