<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chatbot History</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
  <div class="background"></div>
  <!-- Navigation bar -->
  <nav class="navbar">
    <a href="{{ url_for('home') }}">New Chat</a>
    <a href="{{ url_for('history') }}">History</a>
    {% if current_user.is_anonymous %}
    <a href="{{ url_for('login') }}">Login</a>
    {% else %}
    <a onclick="confirmLogout()" style="cursor: pointer;">Logout</a>
    {% endif %}
    </nav>
  <div class="body-width">
    <!-- Display flash messages -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flashes">
      {% for message in messages %}
      <div class="flash">{{ message }}</div>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    
    <section class="welcome-section">
      <h1>Welcome, {{ email }}!</h1>
      <p>Here are your conversations with ExamGPT.</p>
    </section>
    
    <div class="history-container">
      {% for c in conversations%}
      <div class="history-conversation">
        <p>{{c['conversation_name']}}</p>
        <button class="history-rename-button" onclick="renameConversation( {{ c['conversation_id'] }}, this )">Rename</button>
        <a style="text-align: center" href="{{ url_for('chat', conversation_id=c['conversation_id']) }}">Continue</a>
        <button class="history-delete-button" onclick="deleteConversation( {{ c['conversation_id'] }}, this )">Delete</button>
      </div>
      {% endfor %}
    </div>
    <button class="new-conversation-button">New conversation</button>
    <script src="{{ url_for('static', filename='particles.js') }}"></script>
    <script src="{{ url_for('static', filename='history_script.js') }}"></script>
  </div>
</body>
</html>    