<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ExamGPT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <div class="background"></div>
    <!-- Navigation bar -->
    <nav class="navbar">
      <a href="{{ url_for('home') }}">Home</a>
      <a href="{{ url_for('history') }}">History</a>
      {% if current_user.is_anonymous %}
      <a href="{{ url_for('login') }}">Login</a>
      {% else %}
      <a onclick="confirmLogout()">Logout</a>
      {% endif %}
    </nav>
    <div class="body-width">
      <div class="welcome-section">
        <h1>ExamGPT</h1>
        <p>
          ExamGPT is an intelligent chatbot designed to generate exam questions and provide assistance to 
          students by helping them solve complex problems, tailored to their learning needs and subject areas.
        </p>
        <p> 
          Try and ask it to generate a Question for you to practice on. It will be able to provide you with an answer aswell.
        </p>
        <p class="example">
          For Example: "Generate 4 medium difficulty engineering mechanics questions." you could follow this up with
           "provide answers for the questions you have just generated" to check your answers.
        </p>
      </div>
      <div class="chatbox-container">
        <div class="chatbox-message chatbox-message-chatbot">
          <p class="chatbox-message-chatbot-internal">
            ExamGPT: Hello! I am ExamGPT, a chatbot designed to generate exam questions and assist students with their exam-related issues. 
            Please feel free to reply to this message with a topic you'd like me to generate questions on, or simply ask me a question, 
            and I'll be more than happy to provide you with an answer!
          </p>
        </div>
      </div>
      <div class="chatbox-input-container">
        <input
          type="text"
          class="chatbox-input"
          placeholder="Type your message here..."
        />
        <button class="chatbox-send-button">Send</button>
      </div>
      <script src="{{ url_for('static', filename='script.js') }}"></script>
      <script src="{{ url_for('static', filename='particles.js') }}"></script>
    </div>
  </body>
</html>
