<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ExamGPT</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>

  <body>
    <div class="background"></div>

    <!-- Display flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="flashes">
        {% for category, message in messages %}
          <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
    <!-- Navigation bar -->
    <nav class="navbar">
      {% if current_user.is_anonymous %}
      <a href="{{ url_for('register') }}">Register</a>
      {% else %}
      <a href="{{ url_for('home') }}">Home</a>
      <a href="{{ url_for('history') }}">History</a>
      <a href="{{ url_for('logout') }}">Logout</a>
      {% endif %}
    </nav>
    <div class="body-width">
      <div class="welcome-section">
        <h1 style="text-align: center;">LOGIN</h1>
        <p>
          ExamGPT is an intelligent chatbot designed to generate exam questions and provide assistance to 
          students by helping them solve complex problems, tailored to their learning needs and subject areas.
        </p>
      </div>
      <div id="login-container" class="login-container">
        <form action="" method="post" novalidate>
          {{ form.hidden_tag() }}
          <div class="form-field">
            <label for="{{ form.email.id }}">{{ form.email.label }}</label>
            {{ form.email(id=form.email.id, class_='form-control') }}
          </div>
          <div class="form-field">
            <label for="{{ form.password.id }}">{{ form.password.label }}</label>
            {{ form.password(id=form.password.id, class_='form-control') }}
          </div>
          <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
          <div class="form-field">
              <button type="submit" class="login-buttons"><span>{{ form.submit.label }}</span></button>
          </div>
      </form>
        <a href="/register" class="button-link">Don't have an account? Sign up now</a>
      </div>
    </div>
    <script src="{{ url_for('static', filename='particles.js') }}"></script>
  </body>
</html>
