<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ExamGPT</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>

  <body>
    <div class="background"></div>
    <!-- Navigation bar -->
    <nav class="navbar">
      {% if current_user.is_anonymous %}
      <a href="{{ url_for('login') }}">Login</a>
      {% else %}
      <a href="{{ url_for('logout') }}">Logout</a>
      {% endif %}
    </nav>
    <div class="body-width">
      <div class="welcome-section">
        <h1 style="text-align: center;">REGISTER</h1>
        <p>
          ExamGPT is an intelligent chatbot designed to generate exam questions and provide assistance to 
          students by helping them solve complex problems, tailored to their learning needs and subject areas.
        </p>
      </div>
        <div class="login-container">
          <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=32) }}<br>
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password2.label }}<br>
                {{ form.password2(size=32) }}<br>
                {% for error in form.password2.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='particles.js') }}"></script>
  </body>

</html>